

    <div class="modal fade" id="modal-gohiso-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                  <div id="gh-login-form">

                      <%= link_to "<i class=\"fa fa-facebook pull-left\"></i> Sign in with Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn btn-block btn-lg btn-bordered btn-facebook" %>
                      
                      <%= link_to "<i class=\"fa fa-google pull-left\"></i> Sign In with Google".html_safe, user_omniauth_authorize_path(:google_oauth2), class: "btn btn-block btn-lg btn-bordered btn-google" %>

                        <div class="signup-or-separator">
                            <span class="h6 signup-or-separator--text">OR</span>
                            <hr>
                        </div>
                        <br />

                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= render 'shared/devisemes' %>

                          <div class="form-group">
                            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                          </div>

                          <div class="form-group">
                            <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
                          </div>

                          <% if devise_mapping.rememberable? %>
                            <div class="form-group">
                              <%= f.check_box :remember_me %> Remember Me
                            </div>
                          <% end %>

                          <div class="actions text-center">
                            <%= f.submit "Log in", :class => "btn btn-primary" %>
                            <%= link_to "Forgot Password", new_user_password_path, :class => "btn btn-primary" %>
                          </div>

                      <% end %>


                  </div>


                </div>


            </div>
        </div>
    </div>


