

    <div class="modal fade" id="modal-gohiso-signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">

                  <div id="gh-signup-form">

                      <%= link_to "<i class=\"fa fa-facebook pull-left\"></i> Sign Up with Facebook".html_safe, user_facebook_omniauth_authorize_path, class: "btn btn-block btn-lg btn-bordered btn-facebook" %>
                      
                      <%= link_to "<i class=\"fa fa-google pull-left\"></i> Sign Up with Google".html_safe, user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-lg btn-bordered btn-google" %>

                        <div class="signup-or-separator">
                            <span class="h6 signup-or-separator--text">OR</span>
                            <hr>
                        </div>
                        <br />

                      <% new_user = User.new %>
                      <%= form_for(new_user, as: :user, url: registration_path(:user)) do |f| %>                        <%= render 'shared/devisemes', user: new_user %>

                          <div class="form-group">
                            <%= f.text_field :fullname, :class => 'form-control', :placeholder => 'Full Name', autofocus: true %>
                          </div>

                          <div class="form-group">
                            <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                          </div>

                          <div class="form-group">
                            <% if @validatable %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %>
                            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password', autocomplete: "off" %>
                          </div>

                          <div class="actions text-center">
                            <%= f.submit "SIGN UP", :class => "btn btn-primary btn-block" %>
                            </p>
                          </div>

                      <% end %>


                  </div>


                </div>


            </div>
        </div>
    </div>


