
<div class="container category-tabs">
  <ul class="">
    <li class='<%= add_active_to_classes(root_path, "active", "nav-tab-item") %>'><a href="/">For You</a></li>
    <li class='<%= add_active_to_classes(homes_path, "active", "nav-tab-item") %>'><%= link_to "Homes", homes_path %></li>
    <li class='<%= add_active_to_classes(experiences_path, "active", "nav-tab-item") %>'><%= link_to "Experiences", experiences_path %></li>
    <li class='<%= add_active_to_classes(nil, "active", "nav-tab-item") %>'><a href="#">Places</a></li>
    <li class='<%= add_active_to_classes(homes_path, "active", "nav-tab-item") %>'><%= link_to "Professional Services", services_path %></li>
  </ul>
</div>