
<!--
Temp hide
<%= form_tag search_path, method: :get do %>
	<div class="row">
		<div class="col-md-6">
			<%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= submit_tag "Search", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

TO DO - apply this to AirAlienErnest Branch
-->

<div id="featured-influencers">
    <div class="card-header featured-influencers">
        <h3>You Might Want to Look</h3>
        <p class="text-center hide">Discover new, inspiring places close to home.</p>
    </div>
    <div class="container">  
        <!--
          <div id="gh-slider-001" class="ghs-slider hide">
              <div class="item">
                 <a href="search?utf8=%E2%9C%93&search=new+york">
                 <img src="<%= image_url('New_York.jpg') %>" class="" alt="" />
                 </a>
                 <h4 class="title">New York</h4>
              </div>  
              <div class="item">
                 <a href="search?utf8=%E2%9C%93&search=london">
                 <img src="<%= image_url('London.jpg') %>" class="" alt="" />
                 </a>
                 <h4 class="title">London</h4>
              </div> 
              <div class="item">
                 <a href="search?utf8=%E2%9C%93&search=berlin">
                 <img src="<%= image_url('Berlin.jpg') %>" class="" alt="" />
                 </a>
                 <h4 class="title">Berlin</h4>
              </div> 
              <div class="item">
                 <a href="search?utf8=%E2%9C%93&search=berlin">
                 <img src="<%= image_url('Berlin.jpg') %>" class="" alt="" />
                 </a>
                 <h4 class="title">Berlin</h4>
              </div>         
          </div>
        -->

          <div id="gh-grid-001" class="ghs-gallery-grid">
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-23.png') %>" class="" alt="" />
          			</a>
          		</div>	 
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-24.png') %>" class="" alt="" />
          			</a>
          		</div>	  
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-25.png') %>" class="" alt="" />
          			</a>
          		</div>	   
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-26.png') %>" class="" alt="" />
          			</a>
          		</div>	  
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-27.png') %>" class="" alt="" />
          			</a>
          		</div>	  
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-28.png') %>" class="" alt="" />
          			</a>
          		</div>	   
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-29.png') %>" class="" alt="" />
          			</a>
          		</div>	   
          		<div class="item">
          			<a href="search?utf8=%E2%9C%93&search=">
          				<img src="<%= image_url('SLICES-30.png') %>" class="" alt="" />
          			</a>
          		</div>	        		

          		<br class="clear" />
          </div>
          <!--#gh-grid-001-->
          <br />
          
          <p class="text-center"><a class="default-link" href="#">VIEW MORE</a></p>

    </div>    
</div>  
  



<div class="card-header">
  <h3>You Might Want to Book</h3>
  <p class="text-center">See what peopel are travelling, all around the world.</p>
</div>
<div class="container">

<!--
    <div id="gh-slider-002" class="ghs-slider hide">
	<% @rooms.each do |room| %>

        <div class="item">
           <a href="#">
           <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
           </a>
           # will fix this soon 
			<div class="panel-body hide">
				<%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %>&nbsp;
				<%= link_to room.listing_name, room %>
			</div>           
        </div> 

	<% end %>
    </div>
-->

    
      <div id="gh-grid-002" class="ghs-gallery-grid">
      	   <% @rooms.each do |room| %>
      		<div class="item">
      			<a href="#">
      				<%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
      			</a>
      		</div>	
      		<% end %>
      		<p class="text-center"><a class="default-link" href="#">VIEW MORE</a></p>
      </div> 


</div>
<br />
<br />

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});

		//alert( $('body').width() );
	})


</script>
