<div class="container">
    <div class="row">
          <div class="hero-box">
              <div class="hero-quicksearch">
                  <h1 class="brand-color">Elevate your lifestyle</h1>
                  <h2>Do it the GoHiSo way!</h2>

                  <div id="hero-form-search" class="row">
                      <div class="col-md-6">
                          <form action="" method="get">
                            <div class="input-group">
                              <input name="keyword" type="text" class="form-control keyword input-lg" placeholder="Search...">
                              <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                              </span>
                            </div> 
                            <input type="hidden" name="doSearch" value="1" />
                            <input type="hidden" name="page" value="search" />
                          </form>
                      </div>                 
                  </div>  


              </div>
          </div>
    </div>
</div>


<!--Start: Featured Influencers -->
<div id="featured-influencers" class="gh-slider-widget">
    <div class="card-header featured-influencers">
        <h3>Featured Professionals</h3>
    </div>
    <div class="container">  
          <div id="ghscards-featured" class="ghs-slider">
              <div class="item">
                 <a href="users/4">
                 <img src="<%= image_url('cards_-22.png') %>" class="" alt="" />
                 </a>
              </div> 
              <div class="item">
                 <a href="users/5">
                 <img src="<%= image_url('cards_-23.png') %>" class="" alt="" />
                 </a>
              </div>             
              <div class="item">
                 <a href="users/7">
                 <img src="<%= image_url('cards_-24.png') %>" class="" alt="" />
                 </a>
              </div> 
              <div class="item">
                 <a href="users/9">
                 <img src="<%= image_url('cards_-25.png') %>" class="" alt="" />
                 </a>
              </div>    
              <div class="item">
                 <a href="users/8">
                 <img src="<%= image_url('cards_-26.png') %>" class="" alt="" />
                 </a>
              </div>             

          </div>

    </div>    
</div>  
<!--/End: Featured Influencers -->

<!--Start: Just Booked -->
<div id="just-booked" class="gh-slider-widget">
	<div class="card-header">
	  <h3>Just booked</h3>
	</div>
	<div class="container">
	    <div id="ghscards-justbooked" class="ghs-slider">

	        <div class="item">
	           <a href="#">
	           <img src="<%= image_url('cards_-39.png') %>" class="" alt="" />
	           </a>
	        </div>
	        <div class="item">
	           <a href="#">
	           <img src="<%= image_url('cards_-40.png') %>" class="" alt="" />
	           </a>
	        </div>
	        <div class="item">
	           <a href="#">
	           <img src="<%= image_url('cards_-41.png') %>" class="" alt="" />
	           </a>
	        </div>
	        <div class="item">
	           <a href="#">
	           <img src="<%= image_url('cards_-42.png') %>" class="" alt="" />
	           </a>
	        </div>
	        <div class="item">
	           <a href="#">
	           <img src="<%= image_url('cards_-43.png') %>" class="" alt="" />
	           </a>
	        </div>

	    </div>

	    </div>
	</div>
</div>	
<!--/End:  Just Booked -->


<!--Start: Random Filter -->
<div id="random-filter-1" class="gh-slider-widget">

      <div class="card-header">
        <h3>Random Filter 1</h3>
      </div>

      <div class="container">  
            <div id="ghscards-filter-1" class="ghs-slider">
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-45.png') %>" class="" alt="" />
                   </a>
                </div> 
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-46.png') %>" class="" alt="" />
                   </a>
                </div>                 
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-47.png') %>" class="" alt="" />
                   </a>
                </div> 
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-48.png') %>" class="" alt="" />
                   </a>
                </div>           
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-49.png') %>" class="" alt="" />
                   </a>
                </div> 
                <div class="item">
                   <a href="#">
                   <img src="<%= image_url('cards_-50.png') %>" class="" alt="" />
                   </a>
                </div>           

            </div>

      </div>    
</div>  
<!--/End: Random Filter -->

<br />


