<%= stylesheet_link_tag params[:controller] %>

<div class="container exp-page">
    <div class="row">

      <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="content-details">
         
         <div class="tagline-details">
             <h2 class="h2"><%= @experience.experience_name %></h2>
             <p><strong><%= @experience.city %></strong> <%= @experience.experience_tagline %></p>
         </div>

         <div class="boxed-details">
            <p><%= @experience.category %></p>
            <p>Hosted by <%= link_to @experience.user.fullname, @experience.user %></p>
            <p>
            <% if current_user %>
            <%= link_to "Contact Host", conversations_path(sender_id: current_user.id, recipient_id: @experience.user.id), method: 'post' %>
            <% else %>
            <a href="#">Contact Host</a>
            <% end %>
            </p>
            
            <ul class="exp-specs-details">
              <li><i class="fa fa-calendar"></i><%= @experience.day_type %></li>
              <li><i class="fa fa-clock-o"></i>  11.5 hours total</li>
              <li><i class="fa fa-cutlery"></i>  2 meals, drinks, equipment and transportation</li>
              <li><i class="fa fa-comments"></i>  Offered in <%= @experience.language %></li>
            </ul>
         </div>

        
          <% if @activities %>
            <div class="activities-section">
              <h2>Activities</h2>

              <% @activities.each do |activity| %>

                <h3>Day 1:</h3>
                <h4><%= activity.title %></h4>
                <p class="subtitle"><%= activity.subtitle %></p>
                <h4>What to do?</h4>
                <p><%= activity.what_to_do %></p>
                <h4>Where we'll be?</h4>
                <p><%= activity.where_well_be %></p>
                <% if activity.notes %>
                  <h4>Additional notes</h4>
                  <p><%= activity.notes %></p>
                <% end %>
                <h4>Location</h4>
                <p><%= activity.location_name %> <%= activity.street_address %> <%= activity.building %> <%= activity.city %> <%= activity.state %> <%= activity.zipcode %> </p>
              <% end %>
            </div>
          <% end %>
        
        <br>
        <hr>

        <!-- Google Map -->
        <div class="googlemap">
          <div class="col-md-12">
            <div id="map"></div>
            <style>
              #map {
                width: 100%;
                height: 400px;
              }
            </style>
            <script>
              function initMap() {
                var uluru = {lat: <%= @experience.latitude %>, lng: <%= @experience.longitude %>};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 14,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5O6ssZulK2buPBY3gfIMJ-LlYuDIxA4g&callback=initMap">
            </script>
          </div>
        </div>

        <br>
        <hr>

         <div class="about-details">
              <br />

              <span class="block"><strong>About your host, <%= @experience.user.fullname %></strong></span>
              <p><%= @experience.user.description %></p>
              <br />
         </div>


        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">

        <div class="exp-card-container">
             <div class="exp-card" data-spy="affix" data-offset-top="90" data-offset-bottom="530">
  			<% @expphotos.each do |expphoto| %>
  				
          <img src="<%= image_url(expphoto.image_file_name) %>" class="experience-image"/>
  			<% end %>
             	<!--
               <img src="https://a0.muscache.com/im/pictures/c380debc-e608-4b0f-9df1-73a9474ccd5a.jpg?aki_policy=xl_poster" />
               -->
            </div>
            <br>
        <div class="price-text"><%=  @experience.price_currency %><%=  @experience.price %></div>
  		  <button class="btn btn-primary" data-toggle="modal" data-target="#schedule-modal">See Dates</button>
        </div>
          
      </div>  




    </div>
    <!--/row-->
</div>




    <div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
              </div>
                <div class="modal-body">

                  <%= form_for([@experience, @experience.expreservations.new]) do |f| %>
                  <div class="row">
                    
                      <div class="col-md-9"><%= @experience.created_at.to_formatted_s(:long_ordinal)%></div>
                      <div class="col-md-3">
                        <%= f.hidden_field :price_currency, value: @experience.price_currency %>
                        <%= f.hidden_field :price, value: @experience.price %>
                        <%= f.hidden_field :total, value: @experience.price %>
                        <%= f.hidden_field :experience_id, value: @experience.id %>
                        <%= f.submit "Book", class: "btn btn-primary" %>
                      </div>
                  </div>
                  <hr>
                  <% end %>
                
                </div>


            </div>
        </div>
    </div>







<!--
	<div class="row">
		<% @expphotos.each do |expphoto| %>
			<%= image_tag expphoto.image.url(), class: "experience-image" %>
		<% end %>
	</div>
-->
