<%= stylesheet_link_tag params[:controller] %>

<div class="container exp-page">
    <div class="row">

      <div class="col-lg-7 col-md-6 col-sm-12">
        <div class="content-details" style="min-height: 800px">
         
         <div class="tagline-details">
             <h2 class="h2"><%= @experience.experience_name %></h2>
             <p><strong><%= @experience.city %></strong> <%= @experience.experience_tagline %></p>
         </div>

         <div class="boxed-details">
            <ul class="exp-specs-details">
              <li><i class="fa fa-calendar"></i><%= @experience.day_type %></li>
              <li><i class="fa fa-clock-o"></i>  11.5 hours total</li>
              <li><i class="fa fa-cutlery"></i>  2 meals, drinks, equipment and transportation</li>
              <li><i class="fa fa-comments"></i>  Offered in <%= @experience.language %></li>
            </ul>
         </div>

         <div class="about-details">
              <br />

              <span class="block"><strong>About your host, <%= @experience.user.fullname %></strong></span>
              <p><%= @experience.user.description %></p>
              <br />
         </div>


        </div>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">

      <div class="exp-card-container">
           <div class="exp-card" data-spy="affix" data-offset-top="90" data-offset-bottom="530">
			<% @expphotos.each do |expphoto| %>
				<%= image_tag expphoto.image.url(), class: "experience-image" %>
			<% end %>
           	<!--
             <img src="https://a0.muscache.com/im/pictures/c380debc-e608-4b0f-9df1-73a9474ccd5a.jpg?aki_policy=xl_poster" />
             -->
          </div>
          <br>
		  <button class="btn btn-primary" data-toggle="modal" data-target="#schedule-modal">See Dates</button>
      </div>
          
      </div>  




    </div>
    <!--/row-->
</div>


<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header"><h2>When do you want to go?</h2></div>
                <div class="modal-body">

                  <div class="row">
                  	<div class="col-xs-9">Tue, May 16 · 5:00 PM − 7:30 PM</div>
                  	<div class="col-xs-3"><button class="btn btn-default">Book</button></div>
                  </div>
				  <div class="row">
                  	<div class="col-xs-9">Wed, May 17 · 5:00 PM − 7:30 PM</div>
                  	<div class="col-xs-3"><button class="btn btn-default">Book</button></div>
                  </div>
                  <div class="row">
                  	<div class="col-xs-9">Thurs, May 18 · 5:00 PM − 7:30 PM</div>
                  	<div class="col-xs-3"><button class="btn btn-default">Book</button></div>
                  </div>
				  
                </div>


            </div>
        </div>
    </div>


<!--
	<div class="row">
		<% @expphotos.each do |expphoto| %>
			<%= image_tag expphoto.image.url(), class: "experience-image" %>
		<% end %>
	</div>
-->
