<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<head>
  <title>GoHiSo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'shared/navbar' %>
    
	<%= render 'shared/message' %>

  <%= yield %>
    
  <%= render 'shared/partial_footerbox' %>

  <%= render 'shared/modal_login' %>

</body>
</html>
